[Unit]
Description=Weather service

[Service]
Type=simple
ExecStart=/home/vagrant/week11/weather
WorkingDirectory=/home/vagrant/week11
Restart=on-failure

[Install]
WantedBy=multi-user.target
